*{
  margin:0;
  padding:0;
}
/* 
.panel { 
  background-color: #f0f0f0;
}
.pane2 { 
  background-color: #e0e0e0;
}
.pane3 { 
  background-color: #dedede;
}
.CodeMirror { 
  height: 340px !important; 
  color: #fff; 
}
.CodeMirror-gutters { 
  background: #1d1e22 !important;
}
.CodeMirror-scroll {
background: #1d1e22;
 }
.CodeMirror { 
  padding-top: 0 !important; 
}
.SplitPane.horizontal { 
  top: 100px !important; 
}
.co {
background: #131417 !important; 
} */

/* App.css or any other CSS file in your project */
